<?xml version="1.0" encoding="UTF-8"?>
   <beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
 
    <context:component-scan base-package="com.jwt.spring" />
  
  
  <!--Helps in displaying the static images that you have in the homepage and other webpages -->
 <bean
    class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix">
        <value>/WEB-INF/views/</value>
    </property>
    <property name="suffix">
        <value>.jsp</value>
    </property>
    </bean>
 
    
 
    <mvc:annotation-driven />

<mvc:annotation-driven /> 
<mvc:resources mapping="/resources/**" location="/resources/,/resources/images/" />
<mvc:resources mapping="/resources/**" location="/resources/" cache-period="31556926"/> 
<!--Helps in accessing the JavaScript in the JS folder -->
<mvc:resources mapping="/resources/**" location="/resources/,/resources/JS/" />
<!--Helps in accessing the CSS Files in the CSS folder -->
<mvc:resources mapping="/resources/**" location="/resources/,/resources/CSS/" />
<mvc:default-servlet-handler />   
 
 </beans>